.thinks {
  padding-top: 4rem;
  display: grid;
  grid-template-columns: 3fr 3fr 2fr;
  grid-gap: 1rem;
  grid-auto-rows: minmax(300px, auto);
}
.box {
  display: flex;
}
.box1 {
  justify-content: space-around;
  align-items: center;
}
.box2 {
  flex-direction: column;
  justify-content: center;
  padding: 3rem 1rem;
}
.box2 p {
  width: 100%;
  color: #555555;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
.box2 a {
  text-transform: uppercase;
  text-decoration: none;
}
.box2 a b {
  margin-left: 2rem;
  font-weight: bolder;
}
.box3 {
  align-content: center;
  justify-content: center;
  padding: 2rem 2rem;
}
.box3 img {
  width: 100%;
}
.bigtit {
  font-size: 19rem;
  margin-left: -30px;
  flex-grow: 1;
  color: rgba(0, 0, 0, 0.5);
}
.smtit {
  flex-grow: 1;
  font-size: 2.4rem;
  padding: 2rem 5px;
}
.titleBox {
  grid-column: 3/4;
  grid-row: 1/3;
  display: flex;
  align-content: center;
  justify-content: center;
}
.title {
  align-self: center;
  font-size: 2rem;
  text-transform: capitalize;
  transform: rotate(90deg);
  margin: auto;
}
.box4 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box4 h2 {
  width: 60%;
  text-transform: capitalize;
  margin-bottom: 3.5rem;
  line-height: 40px;
  font-size: 2rem;
}
.box4 p {
  line-height: 30px;
  font-size: 1.2rem;
  width: 60%;
}

@media only screen and (max-width: 1200px) {
  .thinks {
    grid-template-columns: 2fr 2fr;
    grid-auto-columns: minmax(200px, auto);
    width: auto;
    height: auto;
    margin: 0;
  }
  .titleBox {
    grid-column: 1/3;
    grid-row: auto;
  }
  .title {
    transform: rotate(0deg);
    text-align: center;
  }
}
@media only screen and (max-width: 800px) {
  .thinks {
    display: flex;
    flex-direction: column;
  }
  .smtit {
    font-size: 2rem;
  }
  .box2 {
    text-align: center;
    width: 100%;
  }
  .box2 p {
    width: 100%;
  }
  .box4 h2 {
    padding: 1rem;
    width: 100%;
    text-align: center;
  }
}
